@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Cormorant+Garamond:wght@400;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FAF8FC;
  color: #4A3763;
}
